<h1>Data Binding</h1>


<h2>1. String Interpolation</h2>
<p>My first name is {{firstName}} </p>


<h2>Property Binding</h2>
<img [src]="imagePath" width="500">


<h2>Event Binding</h2>
<input type="text" (input)="passValueToComponent($event)">


<h2>Two way data binding</h2>
<input type="text" [(ngModel)]="defaultValue">
{{defaultValue}}



<h2>Example with all bindings</h2>
<input type="text" name="name" id="inputname" [(ngModel)]="inputValue">
{{inputValue}}
<button type="button" class="btn btn-primary" [disabled]="isDisabled" (click)="checkForm()">Check input</button>